<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/pfa"
            deprecated="false"
            factory-class="de.unikn.knime.pfa.node.predictor.PFAPredictorNodeFactory"/>
      <node
            category-path="/community/pfa"
            deprecated="false"
            factory-class="de.unikn.knime.pfa.node.reader.PFAReaderNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#42aaf4"
            hidden="false"
            name=" Portable Format for Analytics"
            objectClass="de.unikn.knime.pfa.node.port.PFAPortObject"
            objectSerializer="de.unikn.knime.pfa.node.port.PFAPortObjectSerializer"
            specClass="de.unikn.knime.pfa.node.port.PFAPortObjectSpec"
            specSerializer="de.unikn.knime.pfa.node.port.PFAPortObjectSpecSerializer">
      </portType>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Portable Format for Analytics nodes"
            icon="icons/missing.gif"
            level-id="pfa"
            locked="true"
            name="PFA"
            path="/community">
      </category>
   </extension>
   
</plugin>
