<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/pfa"
            deprecated="false"
            factory-class="org.knime.ext.pfa.node.predictor.PFAPredictorNodeFactory"/>
      <node
            category-path="/labs/pfa"
            deprecated="false"
            factory-class="org.knime.ext.pfa.node.reader.PFAReaderNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#42aaf4"
            hidden="false"
            name=" Portable Format for Analytics"
            objectClass="org.knime.ext.pfa.node.port.PFAPortObject"
            objectSerializer="org.knime.ext.pfa.node.port.PFAPortObjectSerializer"
            specClass="org.knime.ext.pfa.node.port.PFAPortObjectSpec"
            specSerializer="org.knime.ext.pfa.node.port.PFAPortObjectSpecSerializer">
      </portType>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Portable Format for Analytics nodes"
            icon="icons/missing.gif"
            level-id="pfa"
            locked="true"
            name="PFA"
            path="/labs">
      </category>
   </extension>
   
</plugin>
